{% include "header.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USATU OLYMP</title>
</head>
<body>
    <h1>Пользователи</h1>
    <table cellspacing="3" bgcolor="#000000">
        <tr bgcolor="#ffffff">
            <th>id</th>
            <th>ФИО</th>
        </tr>
        {% for user in users %}
            <tr bgcolor="#ffffff">
                <th>{{ user[0] }}</th>
                <th>{{ user[1] }}</th>
            </tr>
        {% endfor %}
    </table>

    <br>
    <br>

    <h1>Добавить пользователя</h1>
    <form action="/add_user/" method="post" class="form-example">
      <div class="form-example">
        <label for="name">Имя: </label>
        <input type="text" name="name" id="name" required />
      </div>
      <div class="form-example">
        <input type="submit" value="Добавить" />
      </div>
    </form>

    <br>
    <br>

    <h1>Изменить пользователя</h1>
    <form action="/change_user/" method="post" class="form-example">
      <div class="form-example">
        <label for="id">id: </label>
        <input type="text" name="id" id="id" required />
      </div>
      <div class="form-example">
        <label for="name">Новое имя: </label>
        <input type="text" name="name" id="name" required />
      </div>
      <div class="form-example">
        <input type="submit" value="Изменить" />
      </div>
    </form>

</body>
</html>